{% extends 'base.html.twig' %}

{% block title %}Hello EventController!
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="mb-5 fw-bold">Create an event</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
		<a class="btn btn-dark" href="{{path('app_event')}}">Back to home</a>
	</div>
{% endblock %}
